*{margin: 0; padding: 0;}                        /*去除默认外边距和内边距*/
ul,ol{list-style: none;}                         /*去除列表默认序号*/
img{display: block;}                             /*图片以块形式显示*/
a{text-decoration: none; color: #464646;}        /*去除a标签默认下划线和颜色*/
h1,h2,h3{font-size: 16px;}                       /*给标题统一字体大小*/
body{font-family: Arial, '宋体';}                /*设置统一字体类型为Arial*/

.l{float: left;}                                                  /*左浮动*/
.r{float: right;}                                                 /*右浮动*/
.clear:after{content: ""; display: block; clear: both;}           /*清除浮动*/
.container{width: 980px; margin: 0 auto; position: relative;}     /*通栏*/
.container-fluid{width: 100%;}                                    /*版心*/



#header{background-image: url(./img/head_bg.png); background-repeat: repeat-x;}
#header .container{height: 41;}
#header .head_logo{
  width: 220px; height: 41px;
  background-image: url(img/ost-bg.png);
  background-position: 0 -38px;
  background-repeat: no-repeat;
}
#header .head_logo a{
  display: block; width: 100%; height: 100%;
  text-indent: -999px; overflow: hidden;
}
#header .head_ad{margin-left: 8px;}
